@import "../components/card-recipe.css";
@import "../components/title-two.css";
@import "../components/title-three.css";
@import "../components/check-item.css";
@import "../components/instruction__item.css";
@import "../components/citation.css";
/** Image */
.main-image {
  width: 100%;
  margin-bottom: var(--space-sm);
}

/** Section with ingredients */
main .ingredients-section {
  margin-top: var(--space-mds);
}

main .ingredients-section .title-three {
  margin: 1.5rem 0 var(--space-sm);
}

/** Section with instructions */
main .instructions .title-two {
  margin: var(--space-mds) 0;
}

@media (min-width: 768px) {
  .main-image {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-lg);
  }
}

@media (min-width: 830px) {
  main .card-recipe {
    float: right;
  }

  main .ingredients-section {
    margin-top: 0;
  }

  main .ingredients-section .title-three {
    margin: var(--space-mds) 0 var(--space-mds);
  }

  main .ingredients-section .check-item {
    margin-top: 1rem;
  }

  main section {
    max-width: 57.5rem;
  }
}
