body {
  counter-reset: li;
}

.instruction__item {
  font-family: var(--font-primary);
  font-size: var(--text-md);
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: var(--space-smx);
  position: relative;
  padding-left: 5rem;
  padding-top: 0.2rem;
}

.instruction__item::before {
  width: 3.6rem;
  height: 3.6rem;

  counter-increment: li;
  content: counter(li);

  font-family: var(--font-secondary);
  font-size: var(--text-lgx);
  font-weight: 700;
  color: #fff;
  text-align: center;

  position: absolute;
  left: 0rem;
  top: 0;

  line-height: var(--text-lgx);

  background-color: var(--orange-1);
  border-radius: 6px;
}
