html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  padding: var(--space-mds) var(--space-xs) var(--space-xs);
}

body > * {
  max-width: var(--max-width);
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

strong {
  font-weight: 700;
}

@media (min-width: 768px) {
  body {
    padding: var(--space-lg) var(--space-md) var(--space-xs);
  }
}
