:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Playfair Display", serif;

  --black-1: #000000;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;

  --orange-1: #f2994a;

  --text-xs: 0.8rem;
  --text-sm: 1rem;
  --text-smx: 1.4rem;
  --text-md: 1.6rem;
  --text-lg: 1.8rem;
  --text-lgx: 2.4rem;

  --title-xs: 1.2rem;
  --title-sm: 1.8rem;
  --title-md: 2.4rem;
  --title-lg: 3.6rem;
  --title-lgx: 4.8rem;

  --space-xs: 1.2rem;
  --space-sm: 2rem;
  --space-mds: 3.2rem;
  --space-md: 4.2rem;
  --space-lg: 4.8rem;
  --space-lgx: 7.7rem;
  --space-lxx: 8.6rem;

  --min-width: 37.5rem;
  --max-width: 97rem;
}
